* {
    padding: 0%;
    margin: 0%;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui;
    color: white;
    font-weight: bold;
}

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background-color: rgb(87, 225, 163);
    padding-block: 1.25rem;
    text-align: center;
}

header h1 {
    font-size: clamp(24px, 2.75vw, 32px);
}

main {
    flex: 1;
}

button {
    padding: clamp(.5rem, 1vw, 1rem) clamp(1rem, 1.8vw, 1.5rem);
    border: none;
    border-radius: .5rem;
    font-size: clamp(.75rem, 1.2vw, 1rem);
    cursor: pointer;
    transition: background-color .2s ease;
}

hr {
    width: 90%;
    margin-inline: auto;
    border: 2px solid rgb(194, 194, 194);
}

footer {
    text-align: center;
}

.main-div {
    width: auto;
    max-width: 475px;
    margin: 2em auto;
    background-color: rgb(180, 255, 115);
    border-radius: .75rem;
    padding: 1.5em;
    min-height: 400px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.quote p {
    font-size: clamp(18px, 2.3vw, 1.5rem);
    text-align: center;
}

.quotes-btn {
    display: flex;
    justify-content: space-between;
}

.new-quote-btn {
    background-color: rgb(48, 192, 127);
}

.new-quote-btn:hover {
    background-color: rgb(31, 120, 80);
}

.favorite-quote-btn {
    display: none;
    background-color: gold;
}

.favorite-quote-btn:hover {
    background-color: goldenrod;
}

.favorite-quotes-container {
    width: 90%;
    margin: 2em auto;
}

.favorite-quotes-container h2 {
    color: rgb(46, 46, 46);
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    padding-bottom: .75rem;
}

.favorite-quote:hover {
    filter: brightness(90%);
}

.favorite-quote:hover .delete-btn {
    display: inline;
}

.delete-btn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 38, 0);
    transition: background-color .6s ease;
}

.delete-btn:hover {
    background-color: rgb(203, 33, 33);
    opacity: 1;
}